<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1> hello</h1>

<h1>Создать пользователя</h1>
<form id="userForm">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="role">Роль:</label>
        <select id="role" name="role">
            <option value="ROLE_USER">Пользователь</option>
            <option value="ROLE_ADMIN">Администратор</option>
        </select>
    </div>
    <br>
    <div>
        <button type="submit" onclick="saveUser()">Зарегистрировать</button>
    </div>
<br>

<button type="button"  id="openModal">Найти всех Пользователей</button>
<div id="myModal" class="modal">
    <ul id="userList"></ul>
</div>
<button type="button" id="search"> Найти пользователя</button>
<label for="searchName">Имя для поиска:</label>
<input type="text" id="searchName" name="name">
</form>
<label for="userId">Введите ID пользователя:</label>
<input type="text" id="userId" placeholder="Введите ID">
<a id="updateLink" href="#" target="_blank">Обновить пользователя под id - </a>


<script>
    function openModalWithData(users) { // заполнение модального окна
        const userList = document.getElementById("userList"); // получение переменной по айди
        const modal = document.getElementById("myModal");   // получение переменной по айди
        userList.innerHTML = ""; // Очищаем список перед отображением новых данных

        // Добавляем каждого пользователя в список
        users.forEach(user => {
            const listItem = document.createElement("li"); // О что за элемент - где используется,как связан
            // создание ненумерованого списка
            listItem.textContent = "id:" + user.id + " Имя:" + user.name + ", Email:" + user.email;
            // формулировка стиля заполнения модального окна
            const deleteButton = document.createElement("button") // создание кнопки удаления
            deleteButton.textContent = 'delete'  // заполнения кнопки удаления текстом
            deleteButton.type='button'
            deleteButton.onclick = function () {   // наполнение кнопки функционалом
                deleteUser(user.id)
            }

            listItem.appendChild(deleteButton)      //добавление элкмента кнопки в список атрибутов списка
            userList.appendChild(listItem);         // присваивание атрибутов списка - списку
        });

        // Открываем модальное окно
        modal.style.display = "block";
    }

    function deleteUser(id) {       //наполнение кнопки удаления функционалом
        fetch("http://localhost:8080/api/admin/delete/" + id, {     // обращение к эндпоинут с указанием типа метода
            method: "DELETE"
        })
            .then(response => {     // затем - проверка что ответ от клиента пришёл правильный - если нет - выдать ошибку
                // - если да - передать текст
                if (!response.ok) {
                    console.error(response.body)
                }
                return response.text()
            })
            .then(data => {     // затем - отрыть обновлённое модальное окно
                alert(data)
                document.getElementById("openModal").click();
            })
    }

    document.getElementById("openModal").onclick = function () {        // настройка кнопки открытия модального окна
        // - обращение к ендпоинту ,получение ответа и открытие модального окна с информацией полученой от сервера(бд)
        fetch("http://localhost:8080/api/admin")
            .then(response => response.json())
            .then(data => {
                openModalWithData(data);
            })
    };
    document.getElementById("search").onclick= function () {
        const word = document.getElementById("searchName").value
        fetch("http://localhost:8080/api/admin?word=" + word)
            .then(response => response.json())
            .then(data => {
                openModalWithData(data);
            })

    };

</script>
<script>
    function saveUser(){
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const role = document.getElementById('role').value;

        // Отправляем данные на сервер для регистрации
        fetch('/api/admin/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name, email, password, role })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Ошибка при регистрации');
                }
            })
            .then(data => {
                // Обрабатываем успешный ответ, например, выводим сообщение об успешной регистрации
                console.log('Пользователь зарегистрирован:', data);
            })
            .catch(error => {
                // Обрабатываем ошибку
                console.error('Ошибка:', error);
            });
    }
</script>
<script>
    document.getElementById("userId").addEventListener("input", function() {
        var userId = document.getElementById("userId").value;
        var updateLink = document.getElementById("updateLink");
        updateLink.setAttribute("href", "http://localhost:8080/admin/update/" + userId);
        updateLink.textContent = "Обновить пользователя под id " + userId;
    });
</script>

</body>
</html>