<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пользователя</title>
</head>
<body>
<h2>Регистрация пользователя</h2>
<form id="registrationForm">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="role">Роль:</label>
        <select id="role" name="role">
            <option value="USER">Пользователь</option>
            <option value="ADMIN">Администратор</option>
        </select>
    </div>
    <div>
        <button type="submit">Зарегистрировать</button>
    </div>
</form>
<form th:action="@{/login}" method="GET">
    <div><input type="submit" value="Registration"></div>
</form>

<script>
    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const role = document.getElementById('role').value;

        // Отправляем данные на сервер для регистрации
        fetch('/registration', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name, email, password, role })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Ошибка при регистрации');
                }
            })
            .then(data => {
                // Обрабатываем успешный ответ, например, выводим сообщение об успешной регистрации
                console.log('Пользователь зарегистрирован:', data);
            })
            .catch(error => {
                // Обрабатываем ошибку
                console.error('Ошибка:', error);
            });
    });
</script>
</body>
</html>
